client_secret_389975206153-2dj9bn03ch4rjlfk1plet71j93u35kkp.apps.googleusercontent.com.json
summE-api-key.env
manifest.json
Gemini API Key.txt
summe-logo.psd
icons8-sparkle-100-pink.png
icons8-sparkle-100.png
marketplace.png
summe-logo-small.png
summe-new-look.png
Graphic Assets/banner.png
Graphic Assets/icon32.png
Graphic Assets/icon48.png
Graphic Assets/icon96.png
Graphic Assets/icon128.png
Screenshots/summe-updated-screenshot1.png
Screenshots/summe-updated-screenshot2.png
Screenshots/summe-updated-screenshot3.png
Screenshots/summe2-screenshot1.png
envelope.png
